#projetos1{
    background-image: url(../img/backgrounds/Mancha\ Dir\ 1.png);
    background-position: 100% 30px;
    background-repeat: no-repeat;
    background-size: 350px;
    border-bottom: 8rem solid transparent;
}

#projetos2{
    background-image: url(../img/backgrounds/Mancha\ Esq\ 1.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 400px;
    border-bottom: 8rem solid transparent;
}

#projetos3{
    background-image: url(../img/backgrounds/Mancha\ Dir\ 3.png);
    background-position: 100% 20px;
    background-repeat: no-repeat;
    background-size: 400px;
    border-bottom: 8rem solid transparent;
}

#projetos4{
    background-image: url(../img/backgrounds/Mancha\ Esq\ 1.png);
    background-position: 0 0px;
    background-repeat: no-repeat;
    background-size: 400px;
    border-bottom: 10rem solid transparent;
}

.projetos-titulo, .projeto-nome1, .projeto-nome2, .projeto-nome3, .projeto-nome4, .projetos-texto1, .projetos-texto2, .projetos-texto3, .projetos-texto4, .projeto-links1, .projeto-links2, .projeto-links3, .projeto-links4{
    opacity: 0;
}

p.projetos-texto1{
    background-image: url(../img/backgrounds/Mancha\ Dir\ 1\ Escura.png);
    background-position: calc(100% + 1rem) -76px;
    background-repeat: no-repeat;
    background-size: 350px;
}

p.projetos-texto2{
    background-image: url(../img/backgrounds/Mancha\ Esq\ 1\ Escura.png);
    background-position: -1rem -45px;
    background-repeat: no-repeat;
    background-size: 400px;
}

p.projetos-texto3{
    background-image: url(../img/backgrounds/Mancha\ Dir\ 3\ Escura.png);
    background-position: calc(100% + 1rem) -25px;
    background-repeat: no-repeat;
    background-size: 400px;
}

p.projetos-texto4{
    background-image: url(../img/backgrounds/Mancha\ Esq\ 1\ Escura.png);
    background-position: -1rem -45px;
    background-repeat: no-repeat;
    background-size: 400px;
}

.projeto-nome1, .projeto-nome2, .projeto-nome3, .projeto-nome4{
    color: var(--laranja-claro);
    font-family: var(--texto);
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
}

.projeto-links1, .projeto-links2, .projeto-links3, .projeto-links4{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.projeto-link{
    align-items: center;
    border-bottom: 1px solid var(--laranja);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    margin-bottom: .7rem;
    transition: all 0.4s;
}

.projeto-link:hover, .projeto-repo:hover{
    transform: scale(1.02);
}

.projeto-capa{
    border: 2px solid var(--laranja);
    margin-bottom: .7rem;
    width: 292px;
}

.projeto-ir{
    color: var(--laranja-claro);
    font-family: var(--texto);
    font-size: 24px;
    margin-bottom: .7rem;
    text-decoration: underline;
}

.projeto-repo{
    border-bottom: 1px solid var(--laranja);
    border-radius: 12px;
    color: var(--laranja-claro);
    font-family: var(--texto);
    font-size: 24px;
    padding-bottom: .7rem;
    text-align: center;
    transition: all 0.4s;
    width: 292px;
}

@media (min-width:426px){
    #projetos1{
        background-image: url(../img/backgrounds/Mancha\ Dir\ 1.png);
        background-position: 100% 0px;
        background-size: 555px;
    }
    
    #projetos2{
        background-image: url(../img/backgrounds/Mancha\ Esq\ 1.png);
        background-position: 0 64px;
        background-size: 555px;
    }

    #projetos3{
        background-image: url(../img/backgrounds/Mancha\ Dir\ 3.png);
        background-position: 100% 0px;
        background-size: 555px;
    }

    #projetos4{
        background-image: url(../img/backgrounds/Mancha\ Esq\ 1.png);
        background-position: 0 0px;
        background-size: 555px;
    }
    
    p.projetos-texto1{
        background-image: url(../img/backgrounds/Mancha\ Dir\ 1\ Escura.png);
        background-position: calc(100% + 5vw) -124px;
        background-size: 555px;
    }
    
    p.projetos-texto2{
        background-image: url(../img/backgrounds/Mancha\ Esq\ 1\ Escura.png);
        background-position: -5vw 9px;
        background-size: 555px;
    }

    p.projetos-texto3{
        background-image: url(../img/backgrounds/Mancha\ Dir\ 3\ Escura.png);
        background-position: calc(100% + 5vw) -54px;
        background-size: 555px;
    }

    p.projetos-texto4{
        background-image: url(../img/backgrounds/Mancha\ Esq\ 1\ Escura.png);
        background-position: -5vw -54px;
        background-size: 555px;
    }
    
    .projeto-nome1, .projeto-nome2, .projeto-nome3, .projeto-nome4{
        font-size: 36px;
    }
    
    .projeto-capa{
        width: 387px;
    }
    
    .projeto-ir{
        font-size: 31px;
    }
    
    .projeto-repo{
        font-size: 31px;
        width: 387px;
    }
}

@media (min-width:769px){
    #projetos1{
        background-image: url(../img/backgrounds/Mancha\ Dir\ 1.png);
        background-position: 100% -121px;
        background-size: 818px;
    }
    
    #projetos2{
        background-image: url(../img/backgrounds/Mancha\ Esq\ 1.png);
        background-position: 0 -100px;
        background-size: 818px;
    }

    #projetos3{
        background-image: url(../img/backgrounds/Mancha\ Dir\ 3.png);
        background-position: 100% -131px;
        background-size: 818px;
    }

    #projetos4{
        background-image: url(../img/backgrounds/Mancha\ Esq\ 1.png);
        background-position: 0 0px;
        background-size: 818px;
    }
    
    p.projetos-texto1{
        background-image: url(../img/backgrounds/Mancha\ Dir\ 1\ Escura.png);
        background-position: calc(100% + 10vw) -265px;
        background-size: 818px;
        margin-bottom: 1.5rem;
    }
    
    p.projetos-texto2{
        background-image: url(../img/backgrounds/Mancha\ Esq\ 1\ Escura.png);
        background-position: -10vw -163px;
        background-size: 818px;
        margin-bottom: 1.5rem;
    }

    p.projetos-texto3{
        background-image: url(../img/backgrounds/Mancha\ Dir\ 3\ Escura.png);
        background-position: calc(100% + 10vw) -194px;
        background-size: 818px;
        margin-bottom: 1.5rem;
    }

    p.projetos-texto4{
        background-image: url(../img/backgrounds/Mancha\ Esq\ 1\ Escura.png);
        background-position: -10vw -63px;
        background-size: 818px;
        margin-bottom: 1.5rem;
    }
    
    .projeto-nome1, .projeto-nome2, .projeto-nome3, .projeto-nome4{
        font-size: 44px;
    }
    
    .projeto-capa{
        width: 623px;
    }
    
    .projeto-ir{
        font-size: 40px;
    }
    
    .projeto-repo{
        font-size: 40px;
        width: 623px;
    }
}

@media (min-width:1025px){
    #projetos1{
        background-image: url(../img/backgrounds/Mancha\ Dir\ 1.png);
        background-position: 100% -190px;
        background-size: 869px;
    }
    
    #projetos2{
        background-image: url(../img/backgrounds/Mancha\ Esq\ 1.png);
        background-position: 0 -126px;
        background-size: 800px;
    }

    #projetos3{
        background-image: url(../img/backgrounds/Mancha\ Dir\ 3.png);
        background-position: 100% -165px;
        background-size: 869px;
    }

    #projetos4{
        background-image: url(../img/backgrounds/Mancha\ Esq\ 1.png);
        background-position: 0 -74px;
        background-size: 800px;
    }
    
    p.projetos-texto1{
        background-image: url(../img/backgrounds/Mancha\ Dir\ 1\ Escura.png);
        background-position: calc(100% + 10vw) -334px;
        background-size: 869px;
        margin-bottom: 2rem;
    }
    
    p.projetos-texto2{
        background-image: url(../img/backgrounds/Mancha\ Esq\ 1\ Escura.png);
        background-position: -10vw -189px;
        background-size: 800px;
        margin-bottom: 2rem;
    }

    p.projetos-texto3{
        background-image: url(../img/backgrounds/Mancha\ Dir\ 3\ Escura.png);
        background-position: calc(100% + 10vw) -228px;
        background-size: 869px;
        margin-bottom: 2rem;
    }

    p.projetos-texto4{
        background-image: url(../img/backgrounds/Mancha\ Esq\ 1\ Escura.png);
        background-position: -10vw -137px;
        background-size: 800px;
        margin-bottom: 2rem;
    }
    
    .projeto-nome1, .projeto-nome2, .projeto-nome3, .projeto-nome4{
        font-size: 44px;
    }
    
    .projeto-capa{
        width: 70%;
    }
    
    .projeto-ir{
        font-size: 40px;
    }
    
    .projeto-repo{
        font-size: 40px;
        width: 100%;
    }
}

@media (min-width:1441px){
    #projetos1{
        background-image: url(../img/backgrounds/Mancha\ Dir\ 1.png);
        background-position: 100% -167px;
    }
    
    #projetos2{
        background-image: url(../img/backgrounds/Mancha\ Esq\ 1.png);
        background-position: 0 -132px;
    }

    #projetos3{
        background-image: url(../img/backgrounds/Mancha\ Dir\ 3.png);
        background-position: 100% -141px;
    }

    #projetos4{
        background-image: url(../img/backgrounds/Mancha\ Esq\ 1.png);
        background-position: 0 0px;
    }

    p.projetos-texto1{
        background-image: url(../img/backgrounds/Mancha\ Dir\ 1\ Escura.png);
        background-position: calc(100% + 10vw) -329px;
        background-size: 869px;
        margin-bottom: 2rem;
    }
    
    p.projetos-texto2{
        background-image: url(../img/backgrounds/Mancha\ Esq\ 1\ Escura.png);
        background-position: -10vw -205px;
        background-size: 800px;
        margin-bottom: 2rem;
    }

    p.projetos-texto3{
        background-image: url(../img/backgrounds/Mancha\ Dir\ 3\ Escura.png);
        background-position: calc(100% + 10vw) -214px;
        background-size: 869px;
        margin-bottom: 2rem;
    }

    p.projetos-texto4{
        background-image: url(../img/backgrounds/Mancha\ Esq\ 1\ Escura.png);
        background-position: -10vw -73px;
        background-size: 800px;
        margin-bottom: 2rem;
    }

    .projeto-nome1, .projeto-nome2, .projeto-nome3, .projeto-nome4{
        font-size: 53px;
    }
    
    .projeto-ir{
        font-size: 49px;
    }
    
    .projeto-repo{
        font-size: 49px;
    }
}