#sobre{
    background-image: url(../img/backgrounds/Mancha\ Foto.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 300px;
    padding: 444px 1rem 0;
}

.nome{
    color: var(--laranja);
    font-family: var(--nome);
    font-size: 27px;
    margin-bottom: 3rem;
    text-align: center;
}

@media (min-width:426px){
    #sobre{
        background-image: url(../img/backgrounds/Mancha\ Foto.png);
        background-size: 314px;
        padding: 444px 5vw 0;
    }
    
    .nome{
        font-size: 35px;
    }
}

@media (min-width:769px){
    #sobre{
        background-image: url(../img/backgrounds/Mancha\ Foto.png);
        background-size: 542px;
        padding: 792px 10vw 0;
    }
    
    .nome{
        font-size: 57px;
    }
}

@media (min-width:1025px){
    #sobre{
        background-image: url(../img/backgrounds/Mancha\ Foto.png);
        background-size: 310px;
        height: 100vh;
        padding: 20vh 5vw 0;
    }
    
    .nome{
        font-size: 60px;
        margin-bottom: 10vh;
        text-align: right;
    }

    h2.sobre-titulo{
        margin-bottom: 2vh;
    }

    p.sobre-texto{
        padding-left: 250px;
        text-align: right;
    }
}

@media (min-width:1441px){
    #sobre{
        background-image: url(../img/backgrounds/Mancha\ Foto.png);
        background-size: 433px;
    }

    .nome{
        font-size: 69px;
    }
}