#sobre{
    animation-delay: 1s, 1.6s, 2.2s;
    animation-duration: .6s;
    animation-fill-mode: forwards;
    animation-name: animaManchaMobile, animaCirculoMobile, animaFotoMobile;
    animation-timing-function: ease-out;
    background: url(../img/backgrounds/foto/Foto.png), url(../img/backgrounds/foto/Circulo.png), url(../img/backgrounds/foto/Mancha.png);
    background-position: -100vw 0, -100vw 0, -100vw 0;
    background-repeat: no-repeat;
    background-size: 300px, 300px, 300px;
    padding: 444px 1rem 0;
}

.nome{
    animation-delay: 2.5s;
    animation-fill-mode: none, forwards;
    animation-direction: alternate, normal;
    animation-duration: .8s, 2s;
    animation-iteration-count: infinite, 1;
    animation-name: animaBorda, animaNome;
    animation-timing-function: steps(2), steps(21);
    border-right: 2px solid transparent;
    color: var(--laranja);
    font-family: var(--nome);
    font-size: 27px;
    margin-bottom: 3rem;
    margin-left: auto;
    overflow: hidden;
    padding-right: 2px;
    text-align: right;
    white-space: nowrap;
    width: 0;
}

.sobre-titulo, .sobre-texto{
    opacity: 0;
}

@media (min-width:426px){
    #sobre{
        background-size: 314px;
        padding: 444px 5vw 0;
    }
    
    .nome{
        font-size: 35px;
    }
}

@media (min-width:769px){
    #sobre{
        background-size: 542px;
        padding: 792px 10vw 0;
    }
    
    .nome{
        font-size: 57px;
    }
}

@media (min-width:1025px){
    #sobre{
        animation-name: animaMancha, animaCirculo, animaFoto;
        background-size: 310px;
        height: 100vh;
        padding: 20vh 5vw 0;
    }
    
    .nome{
        font-size: 60px;
        margin-bottom: 10vh;
        text-align: right;
    }

    h2.sobre-titulo{
        animation: animaTitulo .8s ease-in-out forwards 3.5s;
        margin-bottom: 2vh;
    }

    p.sobre-texto{
        animation: animaTexto .8s ease-in-out forwards 4s;
        padding-left: 250px;
        text-align: right;
    }
}

@media (min-width:1441px){
    #sobre{
        background-size: 433px;
    }

    .nome{
        font-size: 69px;
    }

    p.sobre-texto{
        padding-left: 333px;
    }
}